/.quarto/
.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rapp.history
*.RData
*.Rhistory


/.quarto/
/_site/
/site_libs/
/objects/
/knitr_cache/
/.ipynb_checkpoints/


/*_cache/
/*_files/
/libs/


*.tif
*.tiff
*.nc
*.zip
*.tar.gz
*.csv
/data/
/raw_data/


.DS_Store
Thumbs.db
